[Unit]
Description=Autorun script mbim-network
After=network.target
Requires=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/mbim-network.conf
ExecStart=/bin/mbim-network /dev/${DEV} start
ExecStop=/bin/mbim-network /dev/${DEV} stop

[Install]
WantedBy=default.target